# 아나콘다 가상환경

jupyter==1.0.0
ipython==7.19.0
jedi==0.17.2

html5lib==1.1
requests==2.25.1
bs4==0.0.1
urllib3
lxml==4.6.2
pandas==1.2.0
finance-datareader==0.9.20
pandas-datareader==0.9.0
selenium==3.141.0  # 크롬 버전에 따라 upgrade 가능 by pip install -U selenium
matplotlib==3.3.3
